aside {
  grid-area: aside;
}

#more {
  margin-top: 32px;

  img {
    width: 72px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  h3 {
    margin-top: 8px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}